.title-slide {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  padding: 5vw;
  background-image: url("~@/assets/images/background-image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 5vw center;
  z-index: 2;
}

.title-slide::after {
  content: "";
  background-image: url("~@/assets/images/tages-logo.svg");
  width: 24vw;
  height: 24vw;
  position: absolute;
  top: 5vw;
  left: 5vw;
  background-size: 100%;
  background-repeat: no-repeat;
}

.title-slide__title {
  font-size: 4vw;
  line-height: 6vw;
  color: #f65700;
  margin: 2vw 39vw 0 0;
}

.title-slide__text {
  font-size: 2.5vw;
  line-height: 3.25vw;
  white-space: initial;
  margin: 2vw 39vw 0 0;
}

.title-slide__text_speakers {
  margin: 13vw 39vw 0 0;
}

.accent {
  color: #f65700;
}

.animation .fade-leave-active, .animation .fade-enter-active {
  transition: opacity .3s linear;
}

.fade-leave-active {
  opacity: 1;
}

.fade-enter, .fade-leave-to, .fade-enter-active {
  opacity: 0;
}

.fade-enter-to, .fade-leave {
  opacity: 1;
}

/* common slide */

.slide-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  padding: 5vw;
  z-index: 2;
}

.slide-container:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: .2;
  background-image: url("~@/assets/images/slide-background.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide-container_final:before {
  background-size: cover;
  opacity: 1;
  background-image: url("~@/assets/images/final-background.jpg");
}

.slide-container_final {
  padding-top: 15vw;
}

.slide-container h1 {
  color: #f65700;
  margin: 0;
  line-height: 3.5vw;
}

.slide-container_final h1 {
  position: relative;
  color: #ffffff;
}

.slide-container h1 .accent {
  color: initial;
}

.slide-container__body {
  margin: 2vw 0 0;
  position: relative;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: normal;
}

.slide-container__body h2 {
  /*color: #f65700;*/
  color: initial;
  margin: 0;
  line-height: 3.5vw;
  text-align: center;
}

.slide-container__body_fill {
  height: calc(100vh - 15.5vw);
}

.slide-container__body_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.slide-container img, .slide-container video {
  height: 50vh;
  border-radius: 16px;
  margin: 1.5vw;
  box-shadow: 8px 8px 16px 8px #2d2d2d20;
  background-color: white;
}

.slide-container img.inner-shadow {
  box-shadow: none;
  background-color: transparent;
}

.slide-container__body li {
  margin: .8vw 0;
}

.slide-container__body img.separate {
  position: absolute;
}

.slide-container__body img.separate:first-child {
  top: 0;
  left: 0;
}

.slide-container__body img.separate:last-child {
  bottom: 4vw;
  right: 0;
}

.slide-container_final p {
  position: relative;
  color: #ffffff;
}

.formula {
  font-size: 3vw;
  margin: 0;
  text-align: center;
}

.formula + .formula {
  margin-top: 3vw;
}

sub {
  font-size: .7em;
}

.small-margin {
  margin: .3vw 0;
}

img.fill-img, video.fill-img {
  height: 100%;
}

img.fill-width-img, video.fill-width-img {
  height: unset;
  width: 100%;
}

img.fill-width-img.limit, video.fill-width-img.limit {
  width: 80%;
  margin: 0 auto;
}

img.enlarged, video.enlarged {
  height: 70vh;
}

/* final slide */

.final-slide {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  padding: 5vw;
}